h1 {
    height: 0;
    position: relative;
    top: -1000px;
    text-align: center;
    font-size: 42px;
    font-weight: 900;
    color: #fff;
    letter-spacing: 10px;
    animation: h1first 3s infinite alternate;
    cursor: context-menu;
    font-family: 微软雅黑;
}

@keyframes h1first {
    from {
        text-shadow: 0 1040px 10px #000;
    }
    to {
        text-shadow: 0 1040px 1px #000;
    }
}